<!-- Create a template for the user registration. -->
<!-- Modify the register view to include duplicate user validation. -->
{% if is_user_registered == False %}
<h1>Duplicate User Found!</h1>
<p>A duplicate user has been found, user creation unsuccessful</p>

<!-- Refactor the register template to include conditional rendering that will inform the user if account creation was successful or not. -->
{% else %}
<h1>User Successfully Created!</h1>
<p>
  The account for {{first_name}} {{last_name}} has been successfully created
</p>

{% endif %}
