{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% if user.is_anonymous == False %}
<h1 class="text-center my-3">You are already logged in.</h1>
<p class="text-center">Kindly logout <a href="{% url 'todolist:logout' %}">here</a></p>
{% else %}


<div class="container">

    <div class="row">

        <div class="col-6 offset-3">

            <h1 class="text-center my-3">Login</h1>

            <form action="{% url 'todolist:login' %}" method="post">

                <!-- This template tag provides protection against Cross Site Request Forgeries (CSRF) -->
                <!-- CSRF occurs when a malicious website contains a link, a form button or some JavaScript that is intended to perform some action our website, using the credentials of a logged-in user -->
                {% csrf_token %}

                <div class="mb-3">

                    <label for="username" class="form-label">Username:</label>

                    <input type="text" class="form-control" id="username" name="username" value="{{username}}"
                        maxlength="50" required>

                </div>

                <div class="mb-3">

                    <label for="password" class="form-label">Password:</label>

                    <input type="password" class="form-control" id="password" name="password" maxlength="50" required>

                </div>

                <div class="mb-3">

                    <button type="submit" class="btn btn-primary">Login</button>

                </div>

            </form>

            <p class="text-center">Don't have an account? <a href="{% url 'todolist:register' %}">Register</a></p>

        </div>

    </div>

</div>

{% endif %}

{% endblock %}